.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10.5rem;
  background-color: rgb(0, 0, 0);
  padding-top: 4.5rem;
  // padding-bottom: 15rem;
  // padding-left: 25rem;
  position: relative;
  overflow: hidden;

  // background: linear-gradient(90deg, #000 16px, transparent 1%) 50%, linear-gradient(#000 16px, transparent 1%) 50%,
  //   rgb(70, 69, 69);
  // // background-blend-mode: overlay, overlay, normal;
  // background-size: 17px 17px;

  .view {
    background-color: aqua;
    width: 100%;
    height: 100%;
    // border: 2px solid black;
    // border-radius: 100px;

    iframe {
      width: 100%;
      height: 100%;
    }
    // flex: 1;
  }

  .left-bar {
    background-color: #000000;
    height: calc(100vh - 4.5rem);
    // height: max-content;
    width: 10rem;
    margin-top: 4.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    // background-color: aqua;

    h4 {
      text-align: center;
      text-transform: uppercase;
      color: rgb(0, 255, 133);
    }

    .time-profile {
      border: 2px solid rgb(96, 96, 96);
      height: 100%;
      width: 100%;
      // background-color: gold;
      // position: absolute;
      // right: 0;
      // top: 4rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.4rem;
      padding: 0.5rem;
      align-items: center;
      justify-content: space-between;

      .profile {
        width: 100%;
        padding:.9rem;
        cursor: pointer;
        background-color: #000;
        color: #fff;
        border: 2px solid rgb(96, 96, 96);
        // font-size: 1.3rem;
        font-family: 'Space Mono', monospace;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }



  .sidebar {
    background-color: rgb(0, 0, 0);
    width: 10rem;
    margin-top: 4.7rem;
    min-height: calc(100vh - 5rem);
    position: absolute;
    // padding: 2rem;
    left: 0;
    top: 0;
    z-index: 8712387;
    // background-color: aqua;
    // overflow: scroll;
    // margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      flex: 1;
      height: 100%;
      border: 2px solid rgb(96, 96, 96);
      background: linear-gradient(90deg, #000 15px, transparent 1%) 50%, linear-gradient(#000 15px, transparent 1%) 50%,
        lime;

      background-size: 25px 16px;
      background-blend-mode: darken, darken, normal;
    }
  }

  .bottom-bar {
    height: 9.5rem;
    background-color: rgb(0, 0, 0);
    
    margin: 1rem;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: calc(100% - 21rem);
    color: lime;

    display: flex;
    gap: .5rem;
    justify-content: space-between;

    a {
      color: lime;
    }

    .pattern {
      flex: 1;
      background-color: rgb(0, 0, 0);
      background-size: 30px 30px;
      background-image: linear-gradient(90deg, rgba(0, 255, 0, 0.226) 2px, transparent 0),
        linear-gradient(180deg, rgba(0, 255, 0, 0.281) 2px, transparent 0);
    }

    .time {
      width: 18%;
      background-color: rgb(24, 24, 24);
      font-size: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      color: rgb(24, 24, 24);
      // color: transparent;
      -webkit-text-stroke: 2px lime;
      background-size: 10px 10px;
      background-image: linear-gradient(90deg, rgb(37, 37, 37) 2px, transparent 0),
        linear-gradient(180deg, rgb(37, 37, 37) 2px, transparent 0);
        border: 2px solid rgb(96, 96, 96);
        height: 100%;
        font-family: 'Space Mono', monospace;
      }
      
      .content {
        flex: 1;
        padding: 0.5rem;
        overflow: scroll;
        border: 2px solid rgb(96, 96, 96);

      .Item {
        margin-top: 0.5rem;
      }
      .Title {
        font-size: 1.5rem;
        text-transform: uppercase;
        // font-weight: bold;
        // color: lime;
      }
      .Description {
        color: rgb(5, 179, 5);
      }
    }
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 4.2rem;
    z-index: 91283;
    color: #ffffff;
    border: 2px solid rgb(96, 96, 96);
    // padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-size: 1.7rem;
  }

  .header {
    position: absolute;
    top: 0;
    background-color: #000;
    color: rgb(0, 255, 133);
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    padding: 0.4rem 0;
    width: calc(100% - 20rem);
    // width: 100%;
    border: 2px solid rgb(96, 96, 96);
    // padding: .5rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 20.5rem;

    .marquee {
      height: 50px;
      width: 99%;

      overflow: hidden;
      position: relative;
      border: 2px solid rgb(0, 255, 133);
      // background-color: #00ff55;
      padding: 0.5rem;
      margin: auto;
      font-weight: 900;
    }

    .marquee div {
      display: block;
      width: 200%;
      height: 30px;
      // background-color: aqua;
      position: absolute;
      overflow: hidden;

      animation: marquee 22s linear infinite;
    }

    .marquee span {
      float: left;
      // background-color: aqua;
      width: 50%;
    }

    @keyframes marquee {
      0% {
        left: 0;
      }
      100% {
        left: -100%;
      }
    }
  }
}
